*{
    font-family: figtree;
}

body{
    background-color: hsl(47, 88%, 63%);
}

.main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.card{
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 400px;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
}


#main-image{
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}


.tag-content{
    text-align: left;
    margin: 20px 0px;
    font-size: 16px;
}

.learning{
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    border-radius: 4px;
    padding: 6px 20px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.date{
    margin-top: 15;
    border-radius: 4px;
    padding: 6px;
    font-weight: 400;
    color: hsl(0, 0%, 7%);
    margin-left: 4px;
}


.head-content{
    text-align: left;
    margin-left: 10px;
}
.head-content h1{
    text-align: left;
    font-size: 24px;
}
.head-content p{
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: hsl(0, 0%, 42%);
}


.image-container{
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
}

#image2{
    height: 35px;
    margin-left: 5px;
}

#name{
    font-weight: 800;
}


#header-text:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}


@media (max-width: 375px) {
    .card{
        padding: 1rem;
        max-width: 350px;
        text-align: center;
    }
    #main-image{
        width: 98%;
    }
}